extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .product-detail
    .container.my-5
      .row
        .col-6
          .inner-thumb
            img(src=product.thumbnail, alt=product.title)
        .col-6
          h1(class="inner-title") #{product.title}
          if (product.category)
            div(class="inner-category")
              span Danh mục: 
              a(href=`/products/${product.category.slug}`) #{product.category.title}

          // Hiển thị tác giả nếu có
          if (product.authors && product.authors.length > 0 && product.authors != "No authors available")
            div(class="inner-authors")
              span Tác giả: 
              span= product.authors.join(", ")

          if (product.priceNew)
            div(class="inner-price-new") 
              | #{(parseFloat(product.priceNew) || 0).toLocaleString('vi-VN').replace(/,/g, ',')}đ

          if (product.price != product.priceNew)
            div(class="inner-price-old") 
              | #{(parseFloat(product.price) || 0).toLocaleString('vi-VN').replace(/,/g, ',')}đ

          if (product.discountPercentage)
            div(class="inner-percent") Giảm tới <span>#{product.discountPercentage}%</span>

          // Form "Thêm vào giỏ hàng"
          form(
            action=`/cart/add/${product.id}`
            method="POST"
          )
            input(
              class="form-control mb-2"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=product.stock
              id="quantity" 
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Thêm vào giỏ hàng

          // Nút "Mua ngay"
          form(
            action=`/order/now/${product.id}`
            method="POST"
          )
            input(
              type="hidden"
              name="quantity"
              value="1"
              id="buy-now-quantity" 
            )
            button(
              type="submit"
              class="btn btn-warning btn-block mt-3"
            ) Mua ngay

    script.
      document.getElementById("quantity").addEventListener("input", function() {
        const quantity = this.value;
        document.getElementById("buy-now-quantity").value = quantity;  // Cập nhật giá trị cho form "Mua ngay"
      });

  hr

  .container.my-5
    .row
      .col-12
        +box-head("Mô tả sản phẩm")
        .inner-desc !{product.description}
