mixin product-item(item)
  .col-6.mb-3
    .product-item
      .inner-image
        a(href=`/products/detail/${item.slug}`) 
          img(src=item.thumbnail, alt=item.title)
      .inner-content
        h3.inner-title
          a(href=`/products/detail/${item.slug}`) #{item.title}
        .inner-price-new 
          | #{(parseFloat(item.priceNew) || 0).toLocaleString('vi-VN')}đ
        if(item.price != item.priceNew)
          .inner-price-old 
            | #{(parseFloat(item.price) || 0).toLocaleString('vi-VN')}đ
          .inner-discount 
            | -#{(parseFloat(item.discountPercentage) || 0).toLocaleString('vi-VN')}%



